<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CourseRoots</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/course.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home">CourseRoots</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome {{thisUser.first_name}}!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <div class="sidebar-nav">
          <div class="form-group">
            <label for="year_min" class="control-label">Year:</label><br/>
            <input id="year_min" type="text" class="form-control short-text" placeholder="From">
            <input id="year_max" type="text" class="form-control short-text" placeholder="To">
          </div>
          <div class="form-group">
            <label for="term" class="control-label">Term:</label>
            <select id="term" class="form-control" name="term">
                <option value="upload_time">Any</option>
                <option value="upload_time">Fall</option>
                <option value="upload_time">IAP</option>
                <option value="upload_time">Spring</option>
            </select>
          </div>
          <div class="form-group">
            <label for="taught_by" class="control-label">Taught by:</label>
            <input id="taught_by" type="text" class="form-control" placeholder="Instructor">
          </div>
          <div class="form-group">
            <label for="upload_by" class="control-label">Uploaded by:</label>
            <input id="upload_by" type="text" class="form-control" placeholder="User">
          </div>
          <button type="button" id="apply-filter" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Apply
          </button>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container">

          <div id="search-row" class="row">
            <button type="button" id="sidebar-toggle" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Filter
            </button>

            <div class="col-lg-6 col-md-4 col-sm-4 search-bar">
              <form id="subject-search" name="subject_search_form" method="get" action="/search/number">
                <div class="input-group">
                  <input type="text" id="subject-input" class="form-control" name="subject" placeholder="Search by subject number...">
                  <span class="input-group-btn">
                    <button type="btn" class="btn btn-default" id="search-btn">Go!</button>
                  </span>
                </div>
              </form>
            </div>
            <!-- /.search-bar -->

            <div class="form-inline">
              <label for="sort" class="control-label">Sort by:</label>
              <select id="sort" class="form-control" name="sort">
                  <option value="upload_time">Upload Time</option>
                  <option value="popularity">Popularity</option>
                  <option value="year">Year</option>
                  <option value="number">Subject Number</option>
              </select>
            </div>
            <!-- /.form-inline -->
          </div>
          <!-- /#search-row -->

          <!-- Modal -->
          <div class="modal fade" id="input-warning" tabindex="-1" role="dialog" aria-labelledby="input-warning-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="input-warning-label">Invalid Input</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Subject number should contain a single period between numbers and/or letters!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Row Heading -->
          <h2 class="my-4">{{ deptHeader }}</h2>
          <div id="notes" class="row"></div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; CourseRoots 2018</p>
          </div>
          <!-- /.container -->
        </footer>

      </div>
      <!-- /#sidebar-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <script>
      const deptID = "{{ deptID }}";
    </script>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/course.js"></script>
  </body>
</html>
