<!DOCTYPE html>
<html>
  <head>
    <title>CourseRoots</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    This is the landing page for CourseRoots.
  </body>
</html>
