<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CourseRoots</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="libraries/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="/stylesheets/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home">CourseRoots</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome Tim!</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <a href="/home/1"><li>Course 1: Civil and Environmental Engineering</li></a>
          <a href="/home/2"><li>Course 2: Mechanical Engineering</li></a>
          <a href="/home/3"><li>Course 3: Materials Science and Engineering</li></a>
          <a href="/home/4"><li>Course 4: Architecture</li></a>
          <a href="/home/5"><li>Course 5: Chemistry</li></a>
          <a href="/home/6"><li>Course 6: Electrical Engineering and Computer Science</li></a>
          <a href="/home/7"><li>Course 7: Biology</li></a>
          <a href="/home/8"><li>Course 8: Physics</li></a>
          <a href="/home/9"><li>Course 9: Brain and Cognitive Sciences</li></a>
          <a href="/home/10"><li>Course 10: Chemical Engineering</li></a>
          <a href="/home/11"><li>Course 11: Urban Studies and Planning</li></a>
          <a href="/home/12"><li>Course 12: Earth, Atmospheric, and Planetary Sciences</li></a>
          <a href="/home/14"><li>Course 14: Economics</li></a>
          <a href="/home/15"><li>Course 15: Management</li></a>
          <a href="/home/16"><li>Course 16: Aeronautics and Astronautics</li></a>
          <a href="/home/17"><li>Course 17: Political Science</li></a>
          <a href="/home/18"><li>Course 18: Mathematics</li></a>
          <a href="/home/20"><li>Course 20: Biological Engineering</li></a>
          <a href="/home/21"><li>Course 21: Humanities</li></a>
          <a href="/home/21A"><li>Course 21A: Anthropology</li></a>
          <a href="/home/21G"><li>Course 21G: Global Studies and Languages</li></a>
          <a href="/home/21H"><li>Course 21H: History</li></a>
          <a href="/home/21L"><li>Course 21L: Literature</li></a>
          <a href="/home/21M"><li>Course 21M: Music and Theater Arts</li></a>
          <a href="/home/21W"><li>Course 21W/CMS: Comparative Media Studies/Writing</li></a>
          <a href="/home/22"><li>Course 22: Nuclear Science and Engineering</li></a>
          <a href="/home/24"><li>Course 24: Linguistics and Philosophy</li></a>
          <a href="/home/HST"><li>HST: Health Sciences and Technology</li></a>
          <a href="/home/IDS"><li>IDS: Data, Systems, and Society</li></a>
          <a href="/home/MAS"><li>MAS: Media Arts and Sciences</li></a>
          <a href="/home/STS"><li>STS: Science, Technology, and Society</li></a>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container">

          <div id="search-row" class="row">
            <button type="button" id="sidebar-toggle" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
              All Courses
            </button>

            <div class="col-lg-6 col-md-4 col-sm-4 search-bar">
              <form id="subject-search" name="subject_search_form" method="get" action="/search/number">
                <div class="input-group">
                  <input type="text" id="subject-input" class="form-control" name="subject" placeholder="Search by subject number...">
                  <span class="input-group-btn">
                    <button type="btn" class="btn btn-default" id="search-btn">Go!</button>
                  </span>
                </div>
              </form>
            </div>
            <!-- /.search-bar -->

            <!-- <div class="form-inline">
              <label for="sort" class="control-label">Sort by:</label>
              <select id="sort" class="form-control" name="sort">
                  <option value="upload_time">Upload Time</option>
                  <option value="popularity">Popularity</option>
                  <option value="year">Year</option>
                  <option value="number">Subject Number</option>
              </select>
            </div> -->
            <!-- /.form-inline -->
          </div>
          <!-- /#search-row -->

          <!-- Modal -->
          <div class="modal fade" id="input-warning" tabindex="-1" role="dialog" aria-labelledby="input-warning-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="input-warning-label">Invalid Input</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Subject number should contain a single period between numbers and/or letters!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Row Heading -->
          <h2 class="my-4">Featured</h2>
          <div id="notes-featured" class="row"></div>

          <!-- Row Heading -->
          <h2 class="my-4">Course 6: Electrical Engineering and Computer Science
            <a href="#">See more</a>
          </h2>
          <div id="notes-6" class="row"></div>

          <!-- Row Heading -->
          <h2 class="my-4">Course 10: Chemical Engineering
            <a href="#">See more</a>
          </h2>
          <div id="notes-10" class="row"></div>

          <!-- Row Heading -->
          <h2 class="my-4">Course 16: Aeronautics and Astronautics
            <a href="#">See more</a>
          </h2>
          <div id="notes-16" class="row"></div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; CourseRoots 2018</p>
          </div>
          <!-- /.container -->
        </footer>

      </div>
      <!-- /#sidebar-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="libraries/bootstrap.bundle.min.js"></script> -->

    <script>
      $("#sidebar-toggle").on('click', function() {
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
