<!DOCTYPE html>
<html>
  <head>
    <title>CourseRoots</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello {{thisUser.name}}, this is the main page for CourseRoots.
    Your user ID is: {{thisUser.id}}.
  </body>
</html>
