<!DOCTYPE html>
<html>
  <head>
    <title>CourseRoots</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    You requested the {{thisNote.subject}} note with ID: {{thisNote.id}}.
  </body>
</html>
