#pdf-meta {
  padding: 20px 0;
}

#pdf-main-container {
  padding: 20px;
  margin-top: 20px;
}

#page-count-container {
  justify-content: center;
}

#page-count-container input {
  width: 50px;
}

#page-count-container input, span {
  margin: 5px;
}

#pdf-loader, #page-loader {
  color: #ffffff;
}

#pdf-contents {
  position: relative;
}

#show-annotation-layer {
  display: none;
}

#comment-bar-wrapper h4 {
  margin: 20px 10px 0 10px;
  text-align: center;
  color: #62a300;
}

#comment-info img {
  height: 28px;
  vertical-align: top;
  margin-left: 3px;
}

#info-popover {
  position: absolute;
  right: 0;
  top: 52px;
  width: 90%;
  padding: 10px 10px 0 10px;
  background-color: #ffffff;
  border: solid 1px #62a300;
  border-radius: 3px;
  z-index: 100;
  display: none;
}

#comment-info:hover #info-popover {
  display: inline;
}

#info-popover p {
  text-align: left;
  color: #8e8e8e;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

#comment-bar {
  z-index: 2;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.material-icons{
  cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.25s;
  -moz-animation-duration:0.25s;
  animation-duration:0.25s;

  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.comment-item {
  color: #212529;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 10px;
  padding: 20px;
}

.comment-item p {
  margin: 0;
}

.comment-item.active {
  background-color: #a3d852;
}

.comment-item .delete {
  float: right;
  margin: 0;
  color: #545b62;
  cursor: pointer;
}

.no-comments {
  margin-left: 10px;
  margin-top: 10px;
  color: #8e8e8e;
}

@media (max-width: 991.98px) {
  #pdf-meta {
    padding: 20px;
  }
  #pdf-meta button {
    margin: 10px 0;
  }
}
