#prof-row {
  padding-top: 30px;
}

#prof-img {
  width: 100%;
  margin-bottom: 10px;
}

#prof-row h1 > small {
  margin-left: 10px;
}

#prof-row .input-group {
  margin-bottom: 15px;
}

#prof-row p {
  margin-left: 8px;
}

#prof-row .edit-icon {
  height: 22px;
  cursor: pointer;
}

.notes-header > .form-inline {
  margin-left: 20px;
}

.no-notes {
  display: none;
}

.note-item .edit-icon {
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
  float: right;
}

#upload-card .card {
  color: #007bff;
  cursor: pointer;
}

#upload-card .card:hover {
  background-color: rgba(0,0,0,.125);
}

#upload-modal .form-inline, #note-modal .form-inline {
  margin: 10px 0;
}

#number-input, #new-number-input {
  text-transform: uppercase;
}

#year-input, #new-year-input {
  margin-right: 10px;
}

#instructors-input .input-group, #new-instructors-input .input-group  {
  margin-bottom: 3px;
}

#instructors-input .new-row input, #new-instructors-input .new-row input {
  border-right-width: 0;
}

#instructors-input .new-row .btn, #new-instructors-input .new-row .btn {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #8e8e8e;
}

#instructors-input .add-row .btn, #new-instructors-input .add-row .btn {
  width: 100%;
}
